
Q.21.
---

In [4]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1=None, p2=None):
        self.p1 = p1 if p1 else Point()  # Default to Point() if p1 is None
        self.p2 = p2 if p2 else Point()  # Default to Point() if p2 is None

    def length(self):
        # Calculate and return the length of the segment using the Euclidean distance formula
        return math.sqrt((self.p2.x - self.p1.x)**2 + (self.p2.y - self.p1.y)**2)

    def slope(self):
        # Calculate and return the slope of the segment
        if self.p2.x - self.p1.x != 0:
            return  (self.p2.x - self.p1.x)/(self.p2.y - self.p1.y)
        else:
            return None  # Return None for vertical segments (undefined slope)


# Example usage:
p1 = Point(3, 4)      # Create Point p1 at (3, 4)
p2 = Point()          # Create Point p2 at the default (0, 0)

s = Segment(p1, p2)   # Create Segment s using points p1 and p2

# Print the length and slope of segment s
print("Length of the segment:", s.length())
print("Slope of the segment:", s.slope())

Length of the segment: 5.0
Slope of the segment: 0.75

Q.22.

In [5]:
def tough(indentation, stars):
    if stars == 0:
        return
    elif stars == 1:
        print(' ' * indentation + '*')
    else:
        # Print the initial pattern part
        print(' ' * indentation + '*')
        if stars > 1:
            print(' ' * indentation + '**')
            print(' ' * (indentation + 1) + '*')

        # Print the line with stars in the middle of the pattern
        if stars > 2:
            print(' ' * indentation + '*' * stars)

        # Recursively call to generate the next part of the pattern
        if stars > 2:
            tough(indentation + 2, stars - 2)

# Test cases
print("f(0, 0):")
tough(0, 0)
print("\nf(0, 1):")
tough(0, 1)
print("\nf(0, 2):")
tough(0, 2)
print("\nf(0, 4):")
tough(0, 4)

f(0, 0):

f(0, 1):
*

f(0, 2):
*
**
 *

f(0, 4):
*
**
 *
****
  *
  **
   *

Q.23.

In [6]:
import sqlite3
from datetime import date

# New set of weather data for the example
weather_entries = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

In [7]:
# Function to create the database and insert the weather entries
def create_database():
    conn = sqlite3.connect('temp_data11.db')
    cur = conn.cursor()

    # Create the TemperatureRecords table
    cur.execute('''
        CREATE TABLE IF NOT EXISTS TemperatureRecords (
            record_id INTEGER PRIMARY KEY,
            date TEXT,
            temperature INTEGER
        )
    ''')

    # Insert the weather entries into the TemperatureRecords table
    cur.executemany('''
        INSERT INTO TemperatureRecords (record_id, date, temperature)
        VALUES (?, ?, ?)
    ''', weather_entries)

    # Commit the transaction and close the connection
    conn.commit()
    conn.close()

In [8]:
def get_days_with_increase():
    conn = sqlite3.connect('temp_data11.db')
    cur = conn.cursor()

    # Execute the SQL query
    cur.execute(sql)

    # Fetch all matching record IDs
    increased_temp_days = cur.fetchall()

    # Close the cursor and connection
    cur.close()
    conn.close()

    return increased_temp_days

In [9]:
# SQL query to find days with higher temperatures than the previous day
sql = """
    SELECT current_day.record_id
    FROM TemperatureRecords current_day
    JOIN TemperatureRecords previous_day
    ON DATE(current_day.date, '-1 day') = previous_day.date
    WHERE current_day.temperature > previous_day.temperature
"""

In [10]:
# Create the database and retrieve the days with increased temperatures
create_database()
days_with_higher_temps = get_days_with_increase()

# Print the days with higher temperatures
print("Days with higher temperatures than the previous day (record IDs):", days_with_higher_temps)

Days with higher temperatures than the previous day (record IDs): [(2,), (4,)]